bookingNumber,chargeType,charge,court,caseNumber
99068448,CAPIAS,POSSESSION OF OPEN CONTAINER,41C,9922942MO
99068431,CAPIAS,OBSTRUCTING OR OPPOSING AN OFFICER WITHOUT,31O,9912353
99068431,CAPIAS,TRESPASS ON PROP OTHER THAN STRUCTURE OR C,31O,9912353
99068431,PROBABLE CAUSE,"GRAND THEFT THIRD DEGREE ($300 - $20.000)",31,9922801
99068167,PROBABLE CAUSE,POSSESSION OF COCAINE,31,9922691
99068167,PROBABLE CAUSE,POSSESSION OF COCAINE WITH INTENT TO SELL,31,9922691
99068165,PROBABLE CAUSE,BURGLARY OF A STRUCTURE,31C,9922690
99068101,PROBABLE CAUSE,FALSE NAME TO LAW ENFORCEMENT OFFICER,41C,9936047
99068101,PROBABLE CAUSE,POSSESSION OF CANNABIS LESS THAN 20 GRAMS,41C,9936047
